.proyectos{
    display: flex;
    flex-direction: column;
    height: 100vh; /* La columna toma toda la altura disponible de la ventana */
    border: 2px solid transparent ; /* Borde transparente para mantener el espacio para la sombra */
    animation: borderPoint 2s infinite linear; /* Aplicamos la animación al elemento */
    /* border: 1px solid #9067c6;  */
}

.crud,
.java,
.bannerCsharp
{
    min-width: 60vh ;
    border: 2px solid transparent ; /* Borde transparente para mantener el espacio para la sombra */
    animation: borderPoint 2s infinite linear; /* Aplicamos la animación al elemento */
    /* border: 1px solid #9067c6; */
}
#crud, #java-proyecto, #c-proyecto
{
    max-width: 100%; 
    height: 100%;
    cursor: pointer;
}
.proyectos .crud .texto-crud,
.texto-java,
.texto-c {
  position: absolute;
  left: 15%;
  transform: translate(-50%, -50%);
  background-color: black;
  color: white; /* Color del texto */
  border: 1px solid;
  opacity: 0; /* El texto comienza invisible */
  transition: opacity 1.0s ease-in; /* Transición suave para la opacidad */
  text-align: center; /* Alineación del texto en el centro */
}

.proyectos .crud .texto-crud {
  top: 30vh;
}

.texto-java {
  top: 48vh;
}

.texto-c {
  top: 67vh;
}

  
  .crud:hover .texto-crud {
    opacity: 1; /* El texto se vuelve visible al pasar el mouse sobre la imagen */
    
  }
  .crud:hover #crud{
    opacity: 0.5;
    transition: opacity 0.9s ease-in; /* Transición suave para la opacidad */
    transform: scale(0.99);
    
  }

  .java:hover .texto-java {
    opacity: 1; /* El texto se vuelve visible al pasar el mouse sobre la imagen */
    
  }
  .java:hover #java-proyecto{
    
    opacity: 0.5;
    transition: opacity 0.9s ease-in; /* Transición suave para la opacidad */
    transform: scale(0.99);
    
  }

  .bannerCsharp:hover .texto-c {
    opacity: 1; /* El texto se vuelve visible al pasar el mouse sobre la imagen */
    
  }
  .bannerCsharp:hover #c-proyecto{
    opacity: 0.5;
    transition: opacity 0.9s ease-in; /* Transición suave para la opacidad */
    transform: scale(0.99);
  }


