.cuadrado {
    display: flex;
    border: 2px solid transparent ; /* Borde transparente para mantener el espacio para la sombra */
    animation: borderPoint 2s infinite linear; /* Aplicamos la animación al elemento */
    width: 40%; /* Ancho del cuadrado */
    margin-right: auto; /* Espacio entre este cuadrado y el componente adyacente */
    position: relative; /* Posicionamiento relativo para el contenedor */
  }
  .texto {
    position: absolute; /* Posicionamiento absoluto para el texto */
    top: 30%; /* Centra el texto verticalmente */
    left: 50%; /* Centra el texto horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta la posición del texto */
    font-size: 30px;
    z-index: 1; /* Asegura que el texto aparezca por delante de las imágenes */
  }
  
  .fila {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 5%;
    justify-content: center;
    opacity: 0;
    transition: opacity .5s ease-in-out;
    animation: bounce 1s infinite; /* Ajusta la duración del rebote */
    /* animation: scroll 10s infinite linear; */
}
  
  .cuadrado:hover .fila {
    opacity: 1; /* Muestra las imágenes al pasar el mouse sobre el contenedor */
  }
  .cuadrado:hover .texto {
    opacity: 0; /* Oculta el texto al pasar el mouse sobre el contenedor */
  }
  
  #csharp,
  #java,
  #js,
  #sql {
    width: 10%;
  }
  #react{width:20%;margin-right: -3%;}
  #js{margin-right: -3%;}

#csharp:hover, #java:hover, #js:hover, #react:hover, #sql:hover{
  transform: scale(1.2);
}
@keyframes bounce {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-30px); /* Ajusta la distancia del rebote */
  }
}

/* @keyframes scroll{
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(0%);
  }
} */
@media only screen and (max-width: 768px) {
  .cuadrado {
    width: 40%;
  }
  .fila {
    flex-direction: column;
    gap: 2px;
  }
  .texto{
    margin-top: 25%;
    writing-mode: vertical-rl; /* vertical-rl para que se lea verticalmente de derecha a izquierda */
    text-orientation: upright; /* Esto asegura que el texto se lea verticalmente correctamente */
    font-size: 100%;
  }
}
/* @media only screen and (min-width: 1200px) {
  .cuadrado {
    width: 50%;
  }
} */
